Web References/WebReference/autorizador.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/SASSAutorizadorWEB/Autorizador" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/SASSAutorizadorWEB/Autorizador" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/SASSAutorizadorWEB/Autorizador">
      <s:element name="Autoriza">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codTransacao" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Cartao" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codPrestador" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="codSolicitante" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="codEspecialidade" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="codLocal" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="viaCartao" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ValidadeCartao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Servicos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codCID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nomeAtendente" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Prototipo" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutorizaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutorizaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="AutorizaSoapIn">
    <part name="parameters" element="s0:Autoriza" />
  </message>
  <message name="AutorizaSoapOut">
    <part name="parameters" element="s0:AutorizaResponse" />
  </message>
  <portType name="AutorizadorSoap">
    <operation name="Autoriza">
      <input message="s0:AutorizaSoapIn" />
      <output message="s0:AutorizaSoapOut" />
    </operation>
  </portType>
  <binding name="AutorizadorSoap" type="s0:AutorizadorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="Autoriza">
      <soap:operation soapAction="http://tempuri.org/SASSAutorizadorWEB/Autorizador/Autoriza" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Autorizador">
    <port name="AutorizadorSoap" binding="s0:AutorizadorSoap">
      <soap:address location="http://192.168.0.130/sassautorizadorweb/autorizador.asmx" />
    </port>
  </service>
</definitions>